---
import { Picture } from 'astro:assets';

import { FadeIn } from '../fade-in';
import { DataIntelligenceContent } from './data-intelligence-content';
import * as styles from './data-intelligence.module.scss';

interface Props {
	firstImageUrl?: string;
	titleHtml: string;
	descriptionHtml: string;
}

const { firstImageUrl, titleHtml, descriptionHtml } = Astro.props;
---

<section class={`container-fluid ${styles.intelligence}`}>
	<div class='row'>
		<DataIntelligenceContent client:load titleHtml={titleHtml} descriptionHtml={descriptionHtml} />
		<div class={`col-lg-6 col-md-6 ${styles.photo}`}>
			<FadeIn client:load fade='right'>
				<Picture
					src={firstImageUrl}
					alt='Data Intelligence'
					sizes='(min-width: 768px) 50vw, 100vw'
					widths={[640, 960, 1280, 1600, 2048]}
					formats={['avif', 'webp']}
					loading='lazy'
					inferSize
				/>
			</FadeIn>
		</div>
	</div>
</section>
